<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Free movie catalogue for you">
<link rel="icon" href="./sendokgarpu.png">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
<script src="https://use.fontawesome.com/b070c8f1df.js"></script>

<link rel="manifest" href="./app.webmanifest">

<title>FINDREST</title>
</head>

<body>
  <a href="#mainContent" class="skip-link">Menuju ke konten</a>
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
      <h1>FINDREST</h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="#/now-home">Home</a></li>
        <li><a href="#/favorite">Favorite</a></li>
        <li><a href="https://www.instagram.com/yes._today/" target="_blank" rel="noopener">About Us</a></li>
      </ul>
    </nav>
  </header>

  <div class="container-fluid jumbotron" style="  background-image: url('./hero-image_4.jpg');">
    <p>Temukan rekomendasi restoran</p>
  </div>
  <div class="hero">
    <div class="hero__inner">
        <h1 class="hero__title">REKOMENDASI RESTORAN</h1>
      <p class="hero__tagline">Indonesia</p>
      <div id="mainContent"  tabindex="0"></div> 
    </div>
  </div>
  <footer>
    <p>FINDREST - Copyright &copy; 2022</p>
    <p>by Lisasahii</p>
  </footer>
</body>

</html>